body {
	background: linear-gradient(to bottom, #1D976C, #93F9B9);
	background-repeat: no-repeat;
	height: 916px;
}
#container1 {
	margin-top: 50px;
}

#container1 table {
	width: 100%;
	font-family: indie flower, sans-serif;
	font-size: 40px;
    color: white;
}

#container1 table td {
	width: 50%;
}

#nimekiri {
	text-align: right;
	padding-right: 20px;
	border-right: solid;
}

#lisa {
	padding-left: 20px;
}
.material-icons {
	padding-right: 20px;
	color: white;
}

hr {
	width: 70%;
    border: 0;
    height: 2px;
    background: white;
}
#container2 {
	padding-left: 15%;
	padding-right: 15%;
	font-family: indie flower, sans-serif;
	font-size: 40px;
    color: white;
    text-align: center;
}

#nimi {
	width: 500px;
}

#perenimi {
	width: 500px;
}

#number {
	width: 500px;
}

#lisaBody {
	background: linear-gradient(to bottom, #1D976C, #93F9B9);
	background-repeat: no-repeat;
	height: 666px;
	font-family: indie flower, sans-serif;
    font-size: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: indie flower, sans-serif;
    font-weight: 900;
    font-size: 20px;

}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: indie flower, sans-serif;
    font-size: 20px;
}

#container3 {
	margin-top: 300px;
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 5px;
    background: linear-gradient(to bottom, #abbaab, #ffffff);
	background-repeat: no-repeat;
    padding: 20px;
}

#container4 {
	margin-top: 300px;
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 5px;
	background: linear-gradient(to bottom, #abbaab, #ffffff);
	background-repeat: no-repeat;
	padding: 20px;
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: green;
	background-color: transparent;
}

a:active {
	color: gainsboro;
	background-color: transparent;
}